<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3">
    <h4 class="h4">Cart Component</h4>
  </div>

  <div class="card-group">
      <div class="card">
        <div class="card-body">
          <form #cartForm="ngForm" (ngSubmit)="onSubmit(cartForm)">
  
                  <div class="form-group row"> 
                          <label for="usr" class="col-sm-4">Item Name</label>
                          <input type="search" maxlength="100" class="form-control col-sm-4" 
                            [(ngModel)]="this.cartService.selectedCart.itemName" name="itemName" #itemName="ngModel" required trim="blur"/>
                        </div>
                              <div class="form-group row">
                                      <label for="usr" class="col-sm-4">Item Desc</label>
                                      <textarea class="form-control col-sm-4" maxlength="200" rows="4" id="itemDescription" 
                                        style="width:511px;resize: none" [(ngModel)]="this.cartService.selectedCart.itemDescription" name="itemDescription" #itemDescription="ngModel" trim="blur"></textarea>
                                    </div>
  
                                    <div class="form-group row"> 
                                          <label for="usr" class="col-sm-4">Quantity</label>
                                          <input type="search" maxlength="100" class="form-control col-sm-4" 
                                            [(ngModel)]="this.cartService.selectedCart.quantity" name="quantity" #quantity="ngModel" required trim="blur"/>
                                        </div>
                        
                     <br>
                    
                     
                        <div class="form-group right">
                              <button class="btn btn-primary"  type="submit" [disabled]="!cartForm.valid">Submit</button>&nbsp;&nbsp;
                            </div>
                        </form>
                        </div>
                        </div>
                        </div>

                          
      <table class="table responsive-table table-bordered ">
      <thead class="thead-light text-center ">
        <tr>
          <th>S.No</th>
          <th>Item Name</th>
          <th>Item Description</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tr *ngFor="let fi of cartList | async; let i = index">
        <td>{{i+1}}</td>
        <td>{{fi.itemName}}</td>
        <td>{{fi.itemDescription}}</td>
        <td>{{fi.quantity}}</td>
        <td>
  
        
        <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Edit" (click)="onEdit(fi)"><img height="18" width="15"
            src="assets/images/edit.png"></span>&nbsp;&nbsp;
        <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(fi._id,form)"><img height="18" width="18" src="assets/images/trash_1.png"></span>
     </td>
      </tr>
  
    </table>  
  
  