<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3">
    <h4 class="h4">Form Component</h4>
  </div>

  <div class="card-group">
      <div class="card">
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  
                  <div class="form-group row"> 
                          <label for="usr" class="col-sm-4">Form Name</label>
                          <input type="search" maxlength="100" class="form-control col-sm-4" 
                            [(ngModel)]="this.formService.selectedForm.formName" name="formName" #formName="ngModel" required trim="blur"/>
                        </div>
                              <div class="form-group row">
                                      <label for="usr" class="col-sm-4">Form Desc</label>
                                      <textarea class="form-control col-sm-4" maxlength="200" rows="4" id="formDescription" 
                                        style="width:511px;resize: none" [(ngModel)]="this.formService.selectedForm.formDescription" name="formDescription" #formDescription="ngModel" trim="blur"></textarea>
                                    </div>
  
                                    <div class="form-group row"> 
                                          <label for="usr" class="col-sm-4">Form value</label>
                                          <input type="search" maxlength="100" class="form-control col-sm-4" 
                                            [(ngModel)]="this.formService.selectedForm.formValue" name="formValue" #formValue="ngModel" required trim="blur"/>
                                        </div>
                        
                     <br>
                    
                     
                        <div class="form-group right">
                              <button class="btn btn-primary"  type="submit" [disabled]="!form.valid">Submit</button>&nbsp;&nbsp;
                            </div>
                        </form>
                        </div>
                        </div>
                        </div>
  
     <table class="table responsive-table table-bordered ">
      <thead class="thead-light text-center ">
        <tr>
          <th>S.No</th>
          <th>Form Name</th>
          <th>Form Description</th>
          <th>Form Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tr *ngFor="let fi of formList | async; let i = index">
        <td>{{i+1}}</td>
        <td>{{fi.formName}}</td>
        <td>{{fi.formDescription}}</td>
        <td>{{fi.formValue}}</td>
        <td>
  
        
        <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Edit" (click)="onEdit(fi)"><img height="18" width="15"
            src="assets/images/edit.png"></span>&nbsp;&nbsp;
        <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(fi._id,form)"><img height="18" width="18" src="assets/images/trash_1.png"></span>
     </td>
      </tr>
  
    </table>  