<p>Cart Values Listing Component</p>
<table class="table responsive-table table-bordered ">
    <thead class="thead-light text-center ">
      <tr>
        <th>S.No</th>
        <th>Item Name</th>
        <th>Item Description</th>
        <th>Quantity </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let fi of cartList | async; let i = index">
      <td>{{i+1}}</td>
      <td>{{fi.itemName}}</td>
      <td>{{fi.itemDescription}}</td>
      <td>{{fi.quantity}}</td>
      <td>

      
      <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Edit" (click)="onEdit(fi)"><img height="18" width="15"
          src="assets/images/edit.png"></span>&nbsp;&nbsp;
      <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(fi._id,form)"><img height="18" width="18" src="assets/images/trash_1.png"></span>
   </td>
    </tr>

  </table>  



  <p> Form Values Listing Component</p>
<table class="table responsive-table table-bordered ">
    <thead class="thead-light text-center ">
      <tr>
        <th>S.No</th>
        <th>Form Name</th>
        <th>Form Description</th>
        <th>Form Value </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let fi of formList | async; let i = index">
      <td>{{i+1}}</td>
      <td>{{fi.formName}}</td>
      <td>{{fi.formDescription}}</td>
      <td>{{fi.formValue}}</td>
      <td>

      
      <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Edit" (click)="onEdit(fi)"><img height="18" width="15"
          src="assets/images/edit.png"></span>&nbsp;&nbsp;
      <span class="col-sm-offset-2 action-button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(fi._id,form)"><img height="18" width="18" src="assets/images/trash_1.png"></span>
   </td>
    </tr>

  </table>  